<div class="container">
  <div class="title">
    <h1>Create the cocktail of your dreams</h1>
    <h1><i class="fas fa-bars"></i></h1>
  </div>
  <div class="col-sm-6 col-sm-offset">
    <div class="form">
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: "What's the name of your baby?", placeholder: "Clara Smash" %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
