// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #265961;
}

h1 {
  color: #F7B236;
  font-family: 'Source Sans Pro';
  text-align: center;
  font-weight: bold;
}

.btn a {
  color: white;
}

