// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #265961;
}

h1 {
  color: #F7B236;
  font-family: 'Source Sans Pro';
  text-align: center;
  font-weight: bold;
}

.btn a {
  color: white;
}

.title {
  background-image: url('kaizen-nguy-n-274069.jpg');
  background-size: cover;
  width: 100vh;
  height: 70vh;
}

.title h1 {
  top: 30px;
}
